<div class="cardGeneric">
    <img src="<%= dog.photo %>" alt="Photo">
    <h5 class="breedName">
        <%= dog.breed_name %>
    </h5>
    <p class="temperament">
        Temperament: <%= dog.temperament %>
    </p>
    <p class="countryOrigin">
        Origin: <%=dog.origin %>
    </p>
</div>