<div class="cardGeneric">
    <img class="cardPhoto" src="<%= dog.photo %>" alt="Photo">
    <h4 class="cardTitle">
        <%= dog.name %>
    </h4>
    <p class="temperament">
        Temperament: <%= dog.temperament %>
    </p>
    <p class="countryOrigin">
        Origin: <%=dog.origin %>
    </p>
</div>