<section class="category">

    <form action="/" method="POST">
        <label for="category">Browse by: </label>
        <select name="category" id="category">
            <option value="">--Please choose an option--</option>
            <option value="Available">Available</option>
            <option value="Adopted">Adopted</option>
            <option value="Labrador">Labrador</option>
            <option value="Beagle">Beagle</option>
            <option value="FrenchBulldog">French Bulldog</option>
            <option value="GoldenRetriever">Golden Retriever</option>
            <option value="Pug">Pug</option>
            <option value="Rottweiler">Rottweiler</option>
            <option value="AustralianShepherd">Australian Shepherd</option>
            <option value="BorderCollie">Border Collie</option>
            <option value="AustralianCattleDog">Australian Cattle Dog</option>
            <option value="AmericanEskimoDog">American Eskimo Dog</option>
            <option value="PembrokeWelshCorgi">Pembroke Welsh Corgi</option>
            <option value="AmericanPitBullTerrier">American Pit Bull Terrier</option>
            <option value="ShibaInu">Shiba Inu</option>
        </select>
        <button class="submit">Submit</button>
    </form>

</section>