@import url("./base.css");

@font-face {
  font-family: 'Spartan';
  src: url('./assets/LeagueSpartan-VariableFont_wght.ttf');
  font-weight: 300 400 450 500 600 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-VariableFont_opsz,wght.ttf');
  font-weight: 200 300 400 450 500 550 600 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/Manrope-VariableFont_wght.ttf');
  font-weight: 200 300 400 450 500 550 600 700;
  font-style: normal;
}

body {
    background-color: oklch(98.7% 0.004 236.62)
}

header {
    font-family: Spartan;
    background-color: var(--color-primary);
    color: white;
    padding: 3.3rem 0 1rem 0;
}

.headingText {
    font-size: 3.4rem;
    font-weight: 550;
    color: white;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
}

.svg-user, .svg-search {
    width: 2.3em;
    height: 2.3em;
    margin-top: 15px;
}

.headingText svg {
    display: block;
    width: 1.2em;
    height: 1.2em;
    flex-shrink: 0;
    transform: translateY(-0.15em);
}

.siteHeader > ul {
    font-family: inherit;
    font-size: 1.33rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 0.6rem;
    transform: translateY(0.2em);
}

li + li::before {
    content: "•";
    margin-right: 0.6rem;
    margin-left: 0
}

.container {
    font-family: Inter;

}

.tagline {
    color: rgb(71, 77, 87);
    margin-left: 27px;
    margin-top: 70px;
    margin-bottom: 16px;
    text-align: center;
}

.category {
    margin-left: 27px;
    margin-right: 16px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}


.categoryLabel {
    font-size: 1.2rem;
    font-weight: 500;
}

.categorySelect {
    margin-left: 8px;
    margin-right: 8px;
}

.search {
    background-color: var(--color-primary);
    padding: 4px 10px 4px 10px
}

.cardPhoto {
    max-width: 100%;
    height: 180px;
    flex-grow: 0;
    margin-bottom: 16px;
    border-radius: 10px;
}

.temperament {
    margin-bottom: 6px;
}

.countryOrigin {
    margin-bottom: 8px;
}

.cardGeneric, .cardNamed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;

}

.dogsDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin-bottom: 25px
}

.updateSection {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 36px;
}

.updateSection button {
    background-color: var(--color-primary);
}




